@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --marine-blue: #02295a;
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
}

button {
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 4px;
  margin: 0 20px;
}

button:disabled {
  cursor: not-allowed;
}

body {
  min-height: 100vh;
  width: 100%;
}

.app {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--magnolia)
}

.bg_mobile {
  position: absolute;
  width: 100%;
  top: 0;
}

.desktop-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--magnolia);
  position: relative;
}

.mobile-container {
  z-index: 2;
  width: 90%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, 0.1);
}

.mobile-actions-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: fit-content;
  width: 100%;
  padding-top: 100px;
  min-height: 100vh;
  gap: 40px;
}

.controls {
  width: 100%;
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-button {
  color: var(--cool-gray);
  background-color: transparent;
}

.next-button {
  background-color: var(--marine-blue);
  color: white;
}

.confirm-button {
  background-color: var(--purplish-blue);
  color: white;
}

.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin: 12px 0;
  color: var(--marine-blue);
  font-size: 24px;
}

.sub-title {
  color: var(--cool-gray);
  line-height: 24px;
  margin-bottom: 24px;
  font-size: 16px;
}

.selector {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  margin-bottom: 12px;
  height: 100px;
  padding: 0 16px;
  position: relative;
}


.selector-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.selector-title {
  font-weight: 500;
  color: var(--marine-blue);
}

/* STEP1 */
.label {
  color: var(--marine-blue);
  font-size: 12px;
  margin-bottom: 4px;
}

.input {
  height: 40px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  padding: 0 12px;
  margin-bottom: 16px;
  outline: none
}

/* STEP2 */
.time-frame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: var(--magnolia);
  gap: 20px;
  font-size: 14px;
  border-radius: 4px;
}

.selectors-container {
  display: flex;
  flex-direction: column;
}

/* STEP3 */
.step3-selector input {
  height: 16px;
  width: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

/* STEP4 */
.hr {
  width: 100%;
  height: 1px;
  background-color: var(--light-gray);
  margin: 24px 0 12px 0;
}


.nav-container {
  position: absolute;
  z-index: 2;
  display: flex;
  gap: 20px;
  top: 30px;
}

.nav-circle {
  width: 40px;
  height: 40px;
  border: 2px solid var(--light-blue);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.bg_desktop {
  display: none;
}

.desktop-nav-info {
  display: none;
}

/*Media Querries for desktop*/
@media screen and (min-width: 920px) {
  .app {
    justify-content: center;
  }

  .mobile-container {
    box-shadow: none
  }

  .bg_mobile {
    display: none;
  }

  .desktop-container {
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: white;
    position: relative;
    width: 80%;
    height: fit-content;
    min-width: 900px;
    max-width: 900px;
    border-radius: 8px;
  }

  .bg_desktop {
    display: flex;
    margin: 16px;
    width: 274px;
  }

  .selectors-container {
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }

  .selectors-container .selector {
    flex-direction: column;
    padding: 20px;
    height: fit-content;
    width: 33.3%;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 200px;
  }

  .card {
    width: 100%;
  }

  .nav-container {
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 40px;
    margin: 0;
    padding: 0;
  }

  .desktop-nav-info {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .controls {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }

  .mobile-actions-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: fit-content;
    width: 100%;
    padding: 0;
    min-height: fit-content;
    gap: 0;
  }

}